{% extends 'layout.html' %}

{% block content %}
    <p>The selected download uses requires a UMLS License available from the
    <a href="https://uts.nlm.nih.gov/home.html#">NIH NLM UTS website</a>.
    Once you have a license enter the information below to download restricted models</p>

    <p>In using these models you are subject to the terms to your UMLS license agreement.</p>

    <form method="post">
      UMLS Username:<br>
      <input type="text" name="umlsuser">
      <br>
      UMLS Password:<br>
      <input type="password" name="umlspw">
      <br>
      <input type="submit" value="Submit">
    </form>
{% endblock %}
