{% extends 'layout.html' %}

{% block content %}
    <p>The selected download uses requires a UMLS license available from the
    <a href="https://uts.nlm.nih.gov/home.html#">NLM UMLS Terminology Services website</a>.
    Once you have a license enter the information below to download restricted models.</p>

    <p>You can retrieve your API Key using the following link
        <a href="https://uts.nlm.nih.gov/uts/edit-profile">https://uts.nlm.nih.gov/uts/edit-profile</a>.</p>

    <p>In using these models you are subject to the terms to your UMLS license agreement.</p>

    <form method="post">
      UMLS Terminology Services API Key:<br>
      <input type="text" name="apikey">
      <br>
      <input type="submit" value="Submit">
    </form>
{% endblock %}
